/* Defaults */

/* {
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    color:#FFFFFF;
    background-color: transpant;
} */

/* Layout */
body
{
    width: 1280px; 
    height: 720px;
}
#main
{
     position: absolute;
     left: 0px; top: 0px;
     width: 1280px; height: 720px;
      background: url("../../images/VideoPlayerBg.png"); 
      z-index:initial;
}

#logo
{
	position: absolute;
	top: 0px;
	height: 35px;
	width: 100%;
    background-image: url("../../images/BgLogo.png");
    background-repeat:repeat-x;
    font-size:25px;
    padding-top:3px;
    padding-left:20px;
    z-index:10;
}

#videoBox_top
{
    position:absolute;
    left:105px; top:158px;
    width:648px; height:8px;
    background-image:url("../../images/videoBox/top.png");
}

#videoBox_bottom
{
    position:absolute;
    left:107px; top:533px;
    width:646px; height:56px;
    background-image:url("../../images/videoBox/bottom.png");
}

#videoBox_left
{
    position:absolute;
    left:110px; top:155px;
    width:8px; height:428px;
    background-image:url("../../images/videoBox/left.png");
}

#videoBox_right
{
    position:absolute;
    left:750px; top:155px;
    width:8px; height:428px;
    background-image:url("../../images/videoBox/right.png");
}



#time
{
    position:absolute; 
    left:20px; top:0px;
    width:500px; height:28px;
}

#progressBarBG
{
    position:absolute;
    left:60px; top:8px;
    width:400px; height:8px;
    background-image:url("../../images/videoBox/progressBarBG.png");
}

#progressBar
{
    position:absolute;
    left:0px; top:0px;
    width:0%; height:8px;
    background-image:url("../../images/videoBox/progressBar.png");
}

#timeInfo
{
    position:absolute;
    left:475px; top:4px;
    width:80px; height:17px;
    
    text-align:center;
    color:#FFFFFF;
    font-size:15px;
}

#status
{
    position:absolute;
    left:30px; top:6px;
    width: 110px; height:20px;
    
    text-align:left;
    font-size:15px;
    color:#FFFFFF;
}

#volume
{
    position:absolute; 
    left:60px; top:24px;
    width:472px; height:24px;
}

#volumeIcon
{
    position:absolute;
    left:4px; top:4px;
    width:17px; height:16px;
    background-image:url("../../images/videoBox/volume.png");
}

#volumeBarBG
{
    position:absolute;
    left:22px; top:8px;
    width:144px; height:8px;
    background-image:url("../../images/videoBox/volumeBarBG.png");
}

#volumeBar
{
    position:absolute;
    left:0px; top:0px;
    width:0%; height:8px;
    background-image:url("../../images/videoBox/volumeBar.png");
}

#volumeInfo
{
    position:absolute;
    left:168px; top:4px;
    width:32px; height:16px;
    
    text-align:left;
    font-size:16px;
    color:#FFFFFF;
}

/* Right Half */

#rightHalf
{
    position: absolute;
    left:420px; top: -5px;
    width: 720px; height: 720px;
  /*   background-image:url("../../images/videoBox/rightHalf.png"); */
}

#description_top
{
    position:absolute;
    left:30px; top:390px;
    width:488px; height:50px;
    background-image:url("../../images/descriptionBox/description_top.png");
}

#description_bottom
{
    position:absolute;
    left:30px; top:440px;
    width:488px; height:50px;
    background-image:url("../../images/descriptionBox/description_bottom.png");
}

#description
{
    position:absolute;
    left:45px; top:400px;
    width:458px; height:80px;
    
    text-align:left;
    font-size:16px;
    overflow:hidden;
    text-overflow : ellipsis;
}

#videoControl
{
    position:absolute;
    left:485px; top:25px;
    width:100px; height:20px;
}

#rewind
{
    position:absolute;
    left:0px; top:0px;
    width:20px; height:20px;
    background-image:url("../../images/control/krew.png");
    opacity:0.2;
}

#play
{
    position:absolute;
    left:20px; top:0px;
    width:20px; height:20px;
    background-image:url("../../images/control/kplay.png");
    opacity:1.0;
}

#stop
{
    position:absolute;
    left:40px; top:0px;
    width:20px; height:20px;
    background-image:url("../../images/control/kstop.png");
    opacity:0.2;
}

#pause
{
    position:absolute;
    left:60px; top:0px;
    width:20px; height:20px;
    background-image:url("../../images/control/kpause.png");
    opacity:0.2;
}

#forward
{
    position:absolute;
    left:80px; top:0px;
    width:20px; height:20px;
    background-image:url("../../images/control/kfwd.png");
    opacity:0.2;
}

/* Left Half */
#leftHalf
{
    position:absolute;
    left: 0px; top:0px;
    width:420px; height:720px;
    /* background-color: black; */
   /*  background-image:url("../../images/videoBox/rightHalf.png"); */
}

#videoList
{
	position:absolute;
    left:105px; top:155px; 
    width: 390px; height:430px;
    background-image:url("../../images/listBox/listBox.png");
}

#videoCount
{
    position:absolute;
    left:330px; top:30px;
    width:50px; height:20px;
    
    text-align:left;
    font-size:18px;
}

#previous
{
  position:absolute;
    left:285px; top:180px;
    width:30px; height:30px;
    background-image:url("../../images/listBox/previous.png");
    opacity:0.2;
}

#next
{
    position:absolute;
    left:285px; top:530px;
    width:30px; height:30px;
    background-image:url("../../images/listBox/next.png");
    opacity:0.2;
}

.style_videoList
{    
    color:#FFFFFF;
    text-align:left;
    font-size:20px;
}

#video0
{
    position:absolute;
    left:30px; top:70px;
    width:330px; height:47px;
    
    background-repeat:no-repeat; 
    padding-left:20px;
    padding-top:10px;
}

#video1
{
    position:absolute;
    left:30px; top:130px;
    width:330px; height:47px;
    
    background-repeat:no-repeat; 
    padding-left:20px;
    padding-top:10px;
}

#video2
{
    position:absolute;
    left:30px; top:190px;
    width:330px; height:47px;
    
    background-repeat:no-repeat; 
    padding-left:20px;
    padding-top:10px;
}

#video3
{
    position:absolute;
    left:30px; top:250px;
    width:330px; height:47px;
    
    background-repeat:no-repeat; 
    padding-left:20px;
    padding-top:10px;
}

#video4
{
    position:absolute;
    left:30px; top:310px;
    width:330px; height:47px;
    
    background-repeat:no-repeat; 
    padding-left:20px;
    padding-top:10px;
}



#navi
{
	position: absolute;
	top: 505px;
	height: 35px;
	width: 100%;
    background-image: url("../../images/BgNavigator.png");
    background-repeat:repeat-x;
}

#help_navi
{
    position:absolute;
    left:275px; top:5px; 
    width:785px; height:28px;
}

.style_navi {
    bottom:4px;
    height:20px;
    font-size:20px;
}