#popupConnexion{
position:fixed; 
width:300px; 
height:100px; 
left:330px; 
top:170px; 
/*background:url("../resource/barree.jpg");*/
background: -webkit-gradient(linear, left top, left bottom, from(#bcbcbe), to(#ffffff));
 -webkit-border-radius: 3px;  
    border: 1px solid #717171;  

color:#000; 
padding-top:35px;
display:none;
z-index:100;
}
