
html, body {
				height: 100%;
				padding: 0;
				margin: 0;
				
			}
			body {
				font-family:Arial;
        		font-size:12px;
				background: rgb( 150, 50, 50 );
				background: url("../../images/backgrounds/BackgroundTV.png");
				position: fixed;
			}

      .example-desc {
        margin:3px 0;
        padding:5px;
      }

		
h1{
		
  		position: absolute;
  		left: 50%;	
  		margin-left: -50px;
		color: #D00000;
		font-size: 90px;
		font-family: fontstyle2;
		top:0px;
		}
		
 #carousel {
     
        width:960px;
        height:350px;
        position:absolute;
        left:150px;
    	top :160px;
        clear:both;
        overflow:hidden;
      }
      #carousel img {
      height: 350px;
      /* visibility:hidden; /* hide images until carousel can handle them */
       /* cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      }
      
      	h2{
		color: #fff;
		font-size: 48px;
		font-family: fontstyle1;
		position: relative;
  		text-align: center;
  		margin-top: 200px;
  		margin-left: 300px;
		}
      		
		#tree{
		position:absolute;
		left: 950px;
		top:0px;
		}
		
	

	
     

			
/* Container properties */
#scene {
   
   /* Positioning and dimensions */
   position: absolute;
   top: 150px;
   width: 12800px;
   height: 400px;
   overflow: hidden;
}

.cloud {
   position: absolute;
   /* Animation properties to be added here */
  /* Firefox */
   -moz-animation: cloudDrift linear infinite;
   /* WebKit - Chrome and Safari */
   -webkit-animation: cloudDrift linear infinite;
   /* Opera */
   -o-animation: cloudDrift linear infinite;
   /* general syntax */
   animation: cloudDrift linear infinite;
}

.lrg {
   /* image is 130 x 67 px */
   top: 40px;
   left: -140px;
   /* Firefox */
   -moz-animation-duration: 10s;
   /* WebKit - Chrome and Safari */
   -webkit-animation-duration: 10s;
   /* Opera */
   -o-animation-duration: 10s;
   /* general syntax */
   animation-duration: 10s;
}

.med {
   /* image is 100 x 52 px */
   top: 80px;
   left: -110px;
    /* Firefox */
   -moz-animation-duration: 15s;
   /* WebKit - Chrome and Safari */
   -webkit-animation-duration: 15s;
   /* Opera */
   -o-animation-duration: 15s;
   /* general syntax */
   animation-duration: 15s;
}
.sml {
   /* image is 70 x 36 px */
   top: 10px;
   left: -80px;
    /* Firefox */
   -moz-animation-duration: 10s;
   /* WebKit - Chrome and Safari */
   -webkit-animation-duration: 10s;
   /* Opera */
   -o-animation-duration: 10s;
   /* general syntax */
   animation-duration: 10s;
}

/* general syntax */
@keyframes cloudDrift {
   from { transform: translateX(0px); }
   to { transform: translateX(1350px); }
}

/* Firefox */
@-moz-keyframes cloudDrift {
   from { -moz-transform: translateX(0px); }
   to { -moz-transform: translateX(1350px); }
}
/* WebKit - Chrome and Safari */
@-webkit-keyframes cloudDrift {
   from { -webkit-transform: translateX(0px); }
   to { -webkit-transform: translateX(1350px); }
} 
/* Opera */
@-o-keyframes cloudDrift {
   from { -o-transform: translateX(0px); }
   to { -o-transform: translateX(1350px); }
}


#fig{
position:absolute;
margin-top: 30px;
margin-left: 50px;
background-color: blue;
border-radius:10px;
	
}
.figCap{
	
}	
#image{
position:absolute;
margin-left: 300px;
top:150px;
	
}
	
figcaption{
	text-align: center;
	font-size: 24px;
	
	
}

#fig1{
	position: absolute;	
	top: 300px;
	left: 600px;	
	
}
#fig2{
	position: absolute;	
	top: 300px;
	left: 900px;
}
.clicked{
	  border-radius: 270px ;  
      box-shadow: 0 0 30px #762e92;
	}
#helpbar{
	position:absolute;
	top: 600px;
	left:330px;

	
	}
	

