@font-face{
	src: url("../../fontstyle1.ttf");
	font-family: "fontstyle1";
	
}

@font-face{
	src: url("../../GrinchedRegular.ttf");
	font-family: "fontstyle2";
	
}


html, body {
				height: 100%;
				padding: 0;
				margin: 0;
			}
			body {
				font-family:Arial;
        		font-size:12px;
        		
				background: url("../../images/background/BackgroundMenu.png");
				position: fixed;
			}

      .example-desc {
        margin:3px 0;
        padding:5px;
      }

		


	
  




#fig{
position:absolute;
margin-top: 30px;
margin-left: 50px;
background-color: blue;
border-radius:10px;
	
}
.figCap{
	
}	
#image{
position:absolute;
margin-left: 300px;
top:150px;
	
}
	
figcaption{
	text-align: center;
	font-size: 24px;
	
	
}

#fig1{

	border-radius:10px;
	position: absolute;	
	top: 300px;
	left: 300px;

	
}
#fig2{
border-radius:10px;
	position: absolute;	
	top: 300px;
	left: 700px;

}



.clicked{
	  border-radius: 12px / 65px;  
      box-shadow: 0 0 12px #0000FF;
	}
#helpbar{
	position:absolute;
	top: 510px;
	left:380px;
	width:500px;
	
	
	}
img{
	
	width: 200px;
	height:100px;
	}
