.popUpDisplay {
	position : absolute;
	display: none;
   	background-image: url("../../images/background/aboutPopup.png") ;
   	background-repeat:no-repeat;
    z-index: 1001;
	width: 1280px;
	height: 720px;
    top :50px;
    left:170px;
    
}

#popupQuit {
	position : absolute;
	display: none;
   	background-image: url("../../images/background/popupQuit.png") ;
   	background-repeat:no-repeat;
    z-index: 1001;
	width: 1280px;
	height: 720px;
    top :50px;
    left:170px;
    
}

.dimLayer {
	position : absolute;
	width: 1280px;
	height: 720px;
    top :0px;
    left:0px;
    z-index: 1001;
    display: none;
    outline: 0px none;
    background: #FFF;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
}

