@font-face{
	src: url("../../fontstyle1.ttf");
	font-family: "fontstyle1";
	
}

body
{
	width: 1280px;
	height: 720px;
	background: url("../../images/backgrounds/BackgroundTips.png");
	position: fixed;
}

 #waterwheel-carousel {
  width:300px;
  height:720px;
  position: absolute;
  
}

waterwheel-carousel img {
  position: absolute;

}

#name{
	position: relative;
		width:850px;
		color: #e45d25;
		font-size: 60px;
		font-family: fontstyle1;
		text-align: center;
		margin-top: -600px;
		margin-left: 400px;
	}
	
	
#fact{
	position: relative;
	width:850px;
	color: #fff;
	margin-left: 406px;
	font-size: 40px;
	font-family: fontstyle1;
	text-align: center;
	}